/** Base recolor **/

:root {
    scrollbar-color: var(--neptunMidDark) var(--neptunLightGray);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--neptunLightGray);
}

::-webkit-scrollbar-thumb {
    background: var(--neptunMidDark);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--neptunDarkGray);
}

body {
    accent-color: var(--neptunPrimary);
    display: flex;
    flex-direction: column;
}

td.GadgetFooter,
table.newsTable,
td.sp_footerbody,
.mainFunctionCommandBottom,
td.FunctionFooter {
    border-color: var(--neptunBorderColor) !important;
}

td.sp_footerbody,
td.sp_body,
td.sp_childbodyleftside,
td.sp_childbodyrightside,
td.sp_afterheaderleftside,
td.sp_afterheaderrightside {
    background-color: var(--neptunLightGray) !important;
}

.grid_contextfooter {
    background-image: unset !important;
    background-color: var(--neptunLightGray) !important;
    border-radius: 0 0 0.3rem 0.3rem;
}

.grid_contextheader {
    background-image: unset !important;
    background-color: var(--neptunLightGray) !important;
    border-radius: 0.3rem 0.3rem 0 0;
}

.contextitem_disabled {
    background-color: var(--neptunLightGray) !important;
    color: var(--neptunLighterGray) !important;
    font-size: 12px;
    border-style: none !important;
}

.contextitem,
.almenu_item,
.contextitemschedule {
    background-color: var(--neptunLightGray) !important;
    color: var(--textColor) !important;
    font-size: 12px;
    border-style: none !important;
}

.contextitem:hover,
.almenu_item:hover,
.contextitemschedule:hover,
.contextitem:focus,
.almenu_item:focus,
.contextitemschedule:focus {
    background-image: unset !important;
    background-color: var(--neptunPrimary) !important;
}

.contextdiv {
    border: 1px solid var(--neptunBorderColor) !important;
    border-radius: 0.3rem !important;
}

td.GadgetFooter,
.GadgetBody {
    background-color: var(--neptunLightGray) !important;
}

td.gadgetbodyright,
td.gadgetbodyleft {
    background-color: var(--neptunLightGray) !important;
    padding: unset;
    padding-left: unset;
}

.table_body {
    border-color: var(--neptunBorderColor) !important;
    background-color: var(--neptunLightGray) !important;
}

th.header,
th.headerWithCheckbox,
th.header_sorteddown,
th.header_sortedup {
    background-color: unset !important;
    background-image: unset !important;
    border-color: var(--neptunBorderColor) !important;
}

.sp_header_midle>table>tbody>tr {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

.sp_header_midle>table>tbody>tr>*:not(.sp_headerseparator) {
    height: auto !important;
}

.sp_headerconditions,
.sp_headertitle {
    padding-left: 0 !important;
}

.scrollablebody tr {
    background-color: var(--neptunMidDark) !important;
    border-color: var(--neptunLightGray) !important;
}

.ui-widget-content .scrollablebody tr td span.link {
    color: var(--neptunPrimary) !important;
}

.Row1_Bold td,
.Row1_sel td {
    background-color: var(--neptunLightGray) !important;
}

.Row1_Bold_sel td,
.Row1_sel td {
    color: var(--neptunPrimary) !important;
    background-color: var(--neptunLighterGray) !important;
}

.Row1_Bold_sel:hover td,
.Row1_sel:hover td {
    background-color: var(--neptunLightGray) !important;
}

div.infopanel_icon,
div.messageBoxTopDiv,
div.messageBoxBottomDiv {
    display: none !important;
}

div.messageBox {
    padding: unset !important;
    margin: 0.1rem !important;
}

div.messageBox div.messageBoxContent {
    background-image: unset !important;
    padding: 0.5rem !important;
    border-style: none !important;
    color: var(--darkText) !important;
    background-color: var(--neptunAlertBackground) !important;
    border: 1px solid var(--neptunAlertBorder) !important;
    border-radius: 0.3rem !important;
}

div.messageBox div.messageBoxContent a {
    color: var(--neptunMidDark) !important;
}

div.infopanel {
    min-height: unset !important;
}

#form1 fieldset {
    border: none !important;
}

table.footer_table,
td.leftbuttons_td {
    display: none !important;
}

table.boxestable {
    margin-top: 4px !important;
}

.readmessage_editor {
    background-color: unset !important;
}

.panHeader,
div#panCloseHeader {
    display: none !important;
}

div#mainPageHeader {
    margin-bottom: 0.3rem !important;
}

.link,
.TitleLeft {
    color: var(--neptunPrimary) !important;
}

h2 {
    background-color: unset !important;
    border-color: var(--neptunBorderColor) !important;
    color: var(--neptunPrimary) !important;
}

ul.menu {
    background-color: unset !important;
}

ul.menu li.menu-item,
#cssmenu>ul li.has-sub ul {
    border-color: var(--neptunBorderColor) !important;
    background: unset !important;
    background-color: var(--neptunLightGray) !important;
    color: var(--textColor) !important;
}

#cssmenu>ul li.has-sub ul {
    border-width: 1px !important;
}

ul.menu li.menu-hover {
    background-image: unset !important;
    background-color: var(--neptunPrimary) !important;
}

ul#mb1 li.menu-parent {
    color: var(--textColor) !important;
}

ul#mb1 li.menu-hover,
ul#mb1 li.menu-parent.has-target:hover {
    color: var(--textColor) !important;
}

div#span_changeproject {
    display: none !important;
}

.calendar .DayHeader {
    background-color: var(--neptunDarkGray) !important;
    color: var(--neptunPrimary) !important;
}

.calendar table td {
    color: unset !important;
}

.calendar .Day {
    background-color: var(--neptunLighterGray) !important;
}

.calendar .SelectedDay,
.calendar .TodayDay {
    background-color: unset !important;
    background-position: center !important;
}

.calendar .Day a:link,
.calendar .Day a:active,
.calendar .Day a:visited,
.calendar .Today a:link,
.calendar .Today a:active,
.calendar .Today a:visited,
.calendar .WeekendDay a:link,
.calendar .WeekendDay a:active,
.calendar .WeekendDay a:visited,
.calendar .calendar_weekendDdystyle a:link,
.calendar .calendar_weekendDdystyle a:active,
.calendar .calendar_weekendDdystyle a:visited {
    color: var(--darkText) !important;
}

.calendar .calendar_othermonthdaystyle:hover,
.calendar .Day:hover,
.calendar .calendar_othermonthdaystyle:hover,
.calendar .calendar_weekendDdystyle:hover {
    background-position: center !important;
    color: var(--neptunLighterGray) !important;
}

.calendar .calendar_othermonthdaystyle:hover>a,
.calendar .Day:hover>a,
.calendar .calendar_othermonthdaystyle:hover>a,
.calendar .calendar_weekendDdystyle:hover>a {
    color: var(--neptunLighterGray) !important;
}

.gadgetmenuicon {
    display: none;
}

.gadgetmenuicon~label,
.muveletek~label {
    display: none;
}

.img_excel,
.img_print,
.img_pin,
.img_search {
    width: 100%;
}

#head_chk>div:first-child>span~.checkbox_all {
    display: none;
}

#head_chk>div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}

#head_chk {
    color: unset !important;
}

.header_sortedup>div>div>img,
.header_sorteddown>div>div>img {
    position: unset !important;
    width: 1.2rem;
}

.header_sortedup>div>div>span,
.header_sorteddown>div>div>span {
    white-space: nowrap;
}

.header_sortedup>div>div,
.header_sorteddown>div>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}

table#c_messages_gridMessages_bodytable tr>td:nth-child(6)>img {
    width: 1rem;
}

table#c_messages_gridMessages_bodytable tr>td:nth-child(3)>img,
table#c_messages_gridMessages_bodytable tr.Row1_Bold>td:nth-child(3)>img {
    width: 1rem;
}

.FunctionHeaderItem {
    width: 20px !important;
}

#ctl00_0,
#dtbBaseData_0 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#ctl00_0 *,
#dtbBaseData_0 * {
    width: unset !important;
}

.tooltipbase {
    background-color: var(--backgroundColor) !important;
    color: var(--textColor) !important;
}

.grid_searchbutton,
.button {
    height: unset !important;
}

.firCimke {
    background-color: var(--darkerBackground) !important;
}

.firFejlec td {
    background-color: var(--neptunMidDark) !important;
    border-color: var(--neptunBorderColor) !important;
}

#upFunction_h_templates_upMain * {
    color: var(--textColor) !important;
}

.endlessControl article .elem {
    background-color: var(--neptunLightGray) !important;
}

.endlessControl article .elem header {
    background-color: var(--neptunDarkGray) !important;
}

.endlessControl article .elem header:hover {
    background-color: var(--darkerBackground) !important;
}

.endlessControl article.aktivEndlessTartalom>div.elem,
div.tartalom>div.elem {
    border-color: var(--neptunBorderColor) !important;
}

.diakhitelimage,
#mb1_MeetStreet {
    display: none !important;
}

.RadScheduler_Default .rsHeader,
.RadScheduler_Default .rsButton,
.RadScheduler_Default .rsSpacerCell,
.RadScheduler_Default .rsAllDayHeader,
.RadScheduler_Default .rsHorizontalHeaderTable {
    background: linear-gradient(var(--neptunLightGray), var(--neptunDarkGray)) !important;
    color: var(--textColor) !important;
}

.RadScheduler_Default .rsButton,
.RadScheduler_Default,
.RadScheduler_Default .rsHeader {
    border-color: var(--neptunBorderColor) !important;
}

.RadScheduler_Default {
    background-color: var(--neptunLightGray) !important;
}

.RadScheduler_Default .rsSpacerCell,
.RadScheduler_Default .rsAllDayHeader,
.RadScheduler_Default .rsHorizontalHeaderTable th {
    border-color: var(--neptunBorderColor) !important;
}

.bubble-top,
.bubble-mid,
.bubble-bottom {
    border-color: var(--neptunBorderColor) !important;
    background-color: var(--neptunLightGray) !important;
}

#upFilter_bodytable .tableRowName,
#upFilter_rbtnSubjectType .tableRowName {
    width: 5.5rem !important;
    padding-right: unset !important;
}

#upFilter_bodytable .tableRowData,
#upFilter_rbtnSubjectType .tableRowData {
    min-width: 14rem;
}

#upFilter_bodytable>tbody>tr {
    display: flex;
    flex-direction: row;
    padding: 0;
    align-items: center;
    gap: 0.5rem;
    margin: 0.2rem;
}

#upFilter_bodytable>tbody>tr>.tableRowData>label:first-child {
    display: none;
}

#upFilter_bodytable>tbody>tr .termSelect {
    margin: 0;
}

#upFilter_bodytable>tbody>tr .termSelect li {
    margin: 0;
    line-height: unset;
}

#upFilter_bodytable tbody>tr>td>label:first-child {
    display: none;
}

#upFilter_bodytable>tbody>tr:empty,
#upFilter_bodytable>tbody>tr>td:empty {
    display: none;
}

#upFilter_bodytable>tbody>tr>td:blank {
    display: none;
}

#upFilter_bodytable>tbody>tr>td:-moz-only-whitespace {
    display: none;
}

#upFilter_rbtnSubjectType>tbody,
#upFilter_rblMessageTypes>tbody {
    display: flex;
}

/** Neptun Powerup **/

#h_addsubjects_gridSubjects_grid_body_div #h_addsubjects_gridSubjects_bodytable tr.Row1_Bold td,
#h_addsubjects_gridSubjects_grid_body_div #Addsubject_course1_gridCourses_bodytable tr.Row1_sel td,
#h_addsubjects_gridSubjects_grid_body_div #Addsubject_course1_gridCourses_grid_body_div tr.Row1_sel td,
#h_addsubjects_gridSubjects_grid_body_div #Addsubject_course1_gridCourses_bodytable tr.Row1_Bold_sel td,
#h_addsubjects_gridSubjects_grid_body_div #Addsubject_course1_gridCourses_grid_body_div tr.Row1_Bold_sel td,
#h_addsubjects_gridSubjects_grid_body_div #h_addsubjects_gridSubjects_bodytable tr.context_selectedrow td,
#h_signedexams_gridExamList_grid_body_div #h_signedexams_gridExamList_bodytable tr.npu_missed td,
body #h_addsubjects_gridSubjects_bodytable tr.Row1_Bold td,
body #Addsubject_course1_gridCourses_bodytable tr.Row1_sel td,
body #Addsubject_course1_gridCourses_grid_body_div tr.Row1_sel td,
body #Addsubject_course1_gridCourses_bodytable tr.Row1_Bold_sel td,
body #Addsubject_course1_gridCourses_grid_body_div tr.Row1_Bold_sel td,
body #h_addsubjects_gridSubjects_bodytable tr.context_selectedrow td {
    background-color: var(--npuYellow) !important;
    color: var(--darkText) !important;
}

#h_addsubjects_gridSubjects_grid_body_div #h_addsubjects_gridSubjects_bodytable tr.npu_completed td,
#h_addsubjects_gridSubjects_grid_body_div #h_addsubjects_gridSubjects_bodytable tr.context_selectedrow[data-completed] td,
#h_signedexams_gridExamList_grid_body_div #h_signedexams_gridExamList_bodytable tr.npu_completed td,
#h_markbook_gridIndexEntry_grid_body_div #h_markbook_gridIndexEntry_bodytable tr.SubjectCompletedRow td {
    background-color: var(--npuGreen) !important;
    color: var(--darkText) !important;
}

#h_addsubjects_gridSubjects_grid_body_div #h_addsubjects_gridSubjects_bodytable tr td.npu_choice_mark,
#h_addsubjects_gridSubjects_grid_body_div #Addsubject_course1_gridCourses_bodytable tr td.npu_choice_mark,
#h_addsubjects_gridSubjects_grid_body_div #Addsubject_course1_gridCourses_grid_body_div tr td.npu_choice_mark,
#h_signedexams_gridExamList_grid_body_div #h_signedexams_gridExamList_bodytable tr.npu_failed td {
    background: var(--npuRed) !important;
    color: var(--textColor) !important;
}

#h_addsubjects_gridSubjects_grid_body_div #h_addsubjects_gridSubjects_bodytable tr.Row1_Bold:hover td,
#h_addsubjects_gridSubjects_grid_body_div #Addsubject_course1_gridCourses_bodytable tr.Row1_sel:hover td,
#h_addsubjects_gridSubjects_grid_body_div #Addsubject_course1_gridCourses_grid_body_div tr.Row1_sel:hover td,
#h_addsubjects_gridSubjects_grid_body_div #Addsubject_course1_gridCourses_bodytable tr.Row1_Bold_sel:hover td,
#h_addsubjects_gridSubjects_grid_body_div #Addsubject_course1_gridCourses_grid_body_div tr.Row1_Bold_sel:hover td,
#h_addsubjects_gridSubjects_grid_body_div #h_addsubjects_gridSubjects_bodytable tr.context_selectedrow:hover td,
#h_signedexams_gridExamList_grid_body_div #h_signedexams_gridExamList_bodytable tr.npu_missed:hover td,
#h_addsubjects_gridSubjects_grid_body_div #h_addsubjects_gridSubjects_bodytable tr.npu_completed:hover td,
#h_addsubjects_gridSubjects_grid_body_div #h_addsubjects_gridSubjects_bodytable tr.context_selectedrow[data-completed]:hover td,
#h_signedexams_gridExamList_grid_body_div #h_signedexams_gridExamList_bodytable tr.npu_completed:hover td,
#h_markbook_gridIndexEntry_grid_body_div #h_markbook_gridIndexEntry_bodytable tr.SubjectCompletedRow:hover td,
#h_addsubjects_gridSubjects_grid_body_div #h_addsubjects_gridSubjects_bodytable tr:hover td,
#h_addsubjects_gridSubjects_grid_body_div #Addsubject_course1_gridCourses_bodytable tr:hover td,
#h_addsubjects_gridSubjects_grid_body_div #Addsubject_course1_gridCourses_grid_body_div tr:hover td,
#h_signedexams_gridExamList_grid_body_div #h_signedexams_gridExamList_bodytable tr.npu_failed:hover td {
    color: var(--neptunLighterGray) !important;
}

body #mb1 li.menu-parent.has-target {
    color: var(--textColor) !important;
}

td>span.link>a {
    color: var(--neptunPrimary) !important;
    text-decoration: none;
    font-weight: bold;
}

#npu_loading {
    color: var(--textColor) !important;
    background: var(--neptunPrimary) !important;
}

/** jQuery UI **/

.ui-dialog {
    padding: unset !important;
}

.ui-dialog,
.ui-dialog *,
.sda .ajax__tab_body {
    border-color: var(--neptunBorderColor) !important;
}

.ui-widget-content {
    background: unset !important;
    background-color: var(--backgroundColor) !important;
}

.ui-widget-content * {
    color: var(--textColor) !important;
}

.ui-widget-header {
    border-color: var(--neptunBorderColor) !important;
}

.ui-widget-overlay {
    background: unset !important;
    background-color: var(--backgroundColor) !important;
    opacity: 0.75 !important;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    border: 1px solid var(--neptunBorderColor) !important;
}

.sda .ajax__tab_active .ajax__tab_tab,
.sda .ajax__tab_active .ajax__tab_inner,
.sda .ajax__tab_tab,
.sda .ajax__tab_inner {
    background: unset !important;
}

.sda .ajax__tab_active .ajax__tab_outer {
    background: linear-gradient(0deg, var(--neptunPrimary) 85%, var(--neptunPrimaryLight) 100%) !important;
    border: 2px solid var(--neptunPrimaryDark);
    border-bottom: none;
    border-radius: 0.4rem 0.4rem 0 0;
    color: var(--textColor) !important;
}

.sda .ajax__tab_active .ajax__tab_outer span {
    color: var(--textColor) !important;
}

.sda .ajax__tab_outer {
    background: linear-gradient(0deg, var(--neptunLightGray) 85%, var(--neptunLighterGray) 100%) !important;
    border: 2px solid var(--neptunBorderColor);
    border-bottom: none;
    border-radius: 0.4rem 0.4rem 0 0;
    color: var(--neptunLighterGray) !important;
}

.sda .ajax__tab_tab,
.sda .ajax__tab_tab span {
    color: var(--neptunLighterGray) !important;
}

.sda .ajax__tab_active .ajax__tab_tab {
    color: var(--textColor) !important;
}

div.cHead {
    border-color: var(--neptunBorderColor) !important;
}

div.cHead .ftitle,
.wk-dayname,
.tg-times {
    color: var(--textColor) !important;
}

div.ctoolbar {
    border-color: var(--neptunBorderColor) !important;
    color: var(--textColor) !important;
}

div.ctoolbar div.btnseparator,
.calmain,
.tg-time {
    border-color: var(--neptunBorderColor) !important;
}

div.ctoolbar div.fbutton.fcurrent,
div.ctoolbar div.fbutton:hover,
.div.ctoolbar div.fbutton.fbOver {
    color: var(--textColor) !important;
    background-color: var(--neptunLightGray) !important;
    border-color: var(--neptunBorderColor) !important;
}

div.ctoolbar div.fbutton.fcurrent div,
div.ctoolbar div.fbutton:hover div,
.div.ctoolbar div.fbutton.fbOver div,
.st-bg {
    border-color: var(--neptunBorderColor) !important;
}

.wk-top,
.chromeColor,
.tg-times,
.mv-daynames-table,
.st-dtitle,
#gridcontainer,
.calmain {
    background-color: var(--neptunMidDark) !important;
    border-color: var(--neptunBorderColor) !important;
}

.mv-daynames-table {
    color: var(--textColor) !important;
}

.wk-allday,
.scolltimeevent,
.tg-dualmarker,
.tg-col,
.wk-allday .st-c {
    border-color: var(--neptunBorderColor) !important;
}

.wk-allday,
.mv-event-container {
    background-color: var(--neptunLightGray) !important;
}

.tg-timedevents {
    background-color: var(--neptunLightGray) !important;
    border-color: var(--neptunBorderColor) !important;
}

.tg-today,
.st-bg-today {
    background-color: var(--npuYellow) !important;
}

.bbit-dp,
.bbit-dp-mp {
    background: var(--neptunMidDark) !important;
    border-color: var(--neptunBorderColor) !important;
}

.bbit-dp-inner td {
    border-color: var(--neptunLightGray) !important;
}

.bbit-dp-top-center button {
    padding: 2px !important;
}

.bbit-dp-inner th,
.bbit-dp-bottom,
.bbit-dp-mp-btns {
    border-color: var(--neptunBorderColor) !important;
    color: var(--textColor) !important;
}

.bbit-dp-inner .bbit-dp-today a {
    border-color: var(--neptunPrimary) !important;
}

.bbit-dp-inner a:hover,
.bbit-dp-inner bbit-dp-disabled a:hover {
    background: var(--neptunDarkGray) !important;
}

.bbit-dp-mp-btns button {
    background: var(--neptunPrimary) !important;
    border-color: var(--neptunPrimaryDark) !important;
    width: unset !important;
}

.bbit-dp-mp-btns button:hover {
    background: var(--neptunPrimaryDark) !important;
}

td.bbit-dp-mp-sel a {
    border-color: var(--neptunBorderColor) !important;
}

td.bbit-dp-mp-month a:hover,
td.bbit-dp-mp-year a:hover {
    background: var(--neptunLightGray) !important;
}

td.bbit-dp-mp-sep,
.bbit-dp-mp-btns td {
    border-color: var(--neptunBorderColor) !important;
}

.cke_chrome,
.cke_top {
    border-color: var(--neptunBorderColor) !important;
}

.cke_top,
.cke_bottom,
.cke_toolgroup,
.cke_combo_button {
    background: linear-gradient(180deg, var(--neptunLighterGray) 0%, var(--neptunLightGray) 100%) !important;
    border-color: var(--neptunBorderColor) !important;
    box-shadow: none !important;
}

.cke_wysiwyg_frame,
.cke_wysiwyg_div {
    background: var(--neptunLightGray) !important;
}

a.cke_button_off:hover,
a.cke_button_off:focus,
a.cke_button_off:active,
a.cke_button_disabled:hover,
a.cke_button_disabled:focus,
a.cke_button_disabled:active,
.cke_button_on {
    background: linear-gradient(0deg, var(--neptunLighterGray) 0%, var(--neptunLightGray) 100%) !important;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    border-color: var(--neptunBorderColor) !important;
    background: var(--neptunDarkGray) !important;
}

.calendar_titlestyle {
    color: var(--textColor) !important;
}

/** Input **/

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.GadgetMenuItem,
.mainfunction_item,
.btn-primary,
.btn-primary.focus,
.btn-primary:focus {
    background-image: unset !important;
    appearance: none;
    background-color: var(--neptunPrimary);
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff !important;
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

.GadgetMenuItem,
.mainfunction_item,
#cssmenu .gridbutton {
    background-color: var(--neptunLighterGray);
}

input[type="button"]:focus:not(:focus-visible):not(.focus-visible),
button:focus:not(:focus-visible):not(.focus-visible),
input[type="reset"]:focus:not(:focus-visible):not(.focus-visible),
input[type="submit"]:focus:not(:focus-visible):not(.focus-visible),
.GadgetMenuItem:focus:not(:focus-visible):not(.focus-visible),
.mainfunction_item:focus:not(:focus-visible):not(.focus-visible),
.button:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button:hover,
.btn-primary:hover,
button:hover {
    background-color: var(--neptunPrimaryDark);
    text-decoration: none;
    border: 1px solid rgba(27, 31, 35, .15);
}

.GadgetMenuItem:hover,
.mainfunction_item:hover,
#cssmenu .gridbutton:hover {
    background-color: var(--neptunMidDark);
    text-decoration: none;
}

input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active,
.btn-primary:active,
.button:active,
button:active,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    background-color: var(--neptunPrimaryDark);
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
    border: 1px solid rgba(27, 31, 35, .15);
}

.GadgetMenuItem:active,
.mainfunction_item:active {
    background-color: var(--neptunDarkGray);
}

input[type="button"]:disabled,
input[type="reset"]:disabled,
input[type="submit"]:disabled,
.button:disabled,
button:disabled {
    background-color: var(--neptunPrimaryLight);
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
}

.GadgetMenuItem:disabled,
.mainfunction_item:disabled {
    background-color: var(--neptunDarkGray);
}

.termSelect li a.button {
    background-color: var(--neptunPrimaryDark);
}

.GadgetMenuItem:hover,
.mainfunction_item:hover {
    box-shadow: unset !important;
    -moz-box-shadow: unset !important;
    -webkit-box-shadow: unset !important;
    border-radius: 6px !important;
}

label {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.GadgetMenuItem,
.mainfunction_item,
.btn-primary,
.btn-primary.focus,
.btn-primary:focus {
    color: var(--textColor) !important;
}

/** Typography **/

* {
    font-family: var(--neptunFont) !important;
}

li.menu-parent {
    font-size: 0.8rem !important;
}

li.menu-item {
    font-size: 0.7rem !important;
}

.FunctionHeaderTitle,
.FunctionHeader h1,
.caption,
.sp_headertitle,
.GadgetHeaderPanelTitle,
.sp_headerconditions,
.tableRowName,
.FunctionCommandTitle,
.tableRowData,
.header,
.table_body,
.header_sortedup,
.header_sorteddown,
.grid_RowCount {
    color: unset !important;
}

.scrollablebody tr:hover,
.Row1_Bold:hover td {
    color: var(--neptunLighterGray) !important;
}

.scrollablebody tr {
    color: var(--textColor) !important;
}

/** Misc **/

#ndm_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;

    padding: 0.3rem;
}

#ndm_attribution1 {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}

#ndm_footer a {
    text-decoration: underline;
    cursor: pointer;
}

#ndm_settings_dialog h2 {
    font-size: 11px;
    font-weight: bold;
    border-bottom: 1px solid var(--neptunBorderColor);
}

#ndm_settings_dialog {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: min(670px, 75%);
    height: min(670px, 75%);
    background-color: var(--backgroundColor);
    padding: 0.5rem;
    border: 2px solid var(--neptunBorderColor);
    overflow: scroll;
    font-size: 11px;
}

#ndm_settings_inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}

@media screen and (max-width: 600px) {
    #ndm_settings_inner {
        grid-template-columns: 1fr;
    }
}

#ndm_settings_buttons {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

#ndm_dialog_container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 10, 10, 0.85);
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

#ndm_dialog_container.ndm-dialog-visible {
    display: flex;
}

.ndm_property_list {
    list-style: none;
    padding: 0;
}

.ndm_property_list li {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.ndm_property_list li>span:first-child::after {
    content: ":";
}